{% extends "design/responsivebase.html" %}

{% block content %}
<div class="row text-center">
    <div class="col-12">
        <p class="lead">Our Premium Products</p>
    </div>
  
</div>
<div class="row text-center">
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/i1.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b> RAM </b></h5>
        <p class="card-text">(2666 MHz CL19 Desktop Memory)<br>Price: Rs.1,429.00</p>
        <a href="#" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/i2.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>ROM</b></h5>
        <p class="card-text">(3200MHz CL16 XMP Desktop Memory)<br> Price: Rs.3,241.00</p>
        <a href="#" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/i3.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>SSD</b></h5>
        <p class="card-text">(3200MHz PC4-25600 U-DIMM)<br>Price: Rs.10,999.00</p>
        <a href="#" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/i4.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>RGB KEYBOARD</b></h5>
        <p class="card-text">(ELEGANT SPEED)<br>Price: Rs.6500.00</p>
        <a href="#" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/i5.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>GAMING MOUSE</b></h5>
        <p class="card-text"> (WIRELESS)<br>Price: Rs.5450.00</p>
        <a href="#" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/i6.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>HEADPHONE</b></h5>
        <p class="card-text">(SOUND QUALITY WITH EQUILIBRIUM)<br>Price: Rs.16,999.00</p>
        <a href="#" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/i7.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>PENDRIVE</b></h5>
        <p class="card-text">(EXPANDABLE MEMORY OF 256GB)<br>Price: Rs.4,300.00</p>
        <a href="#" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/i8.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>HARD DRIVE</b></h5>
        <p class="card-text"> (GOOD CAPACITY OF STORAGE)<br>Price: Rs.3,500.00</p>
        <a href="#" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/i9.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>GAMING MOTHERBOARD</b></h5>
        <p class="card-text"> (GOOD SPEED)<br>Price: Rs.5,099.00</p>
        <a href="#" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/i10.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>WIFI ROUTER</b></h5>
        <p class="card-text"> (Wi-Fi Modem Router,2x 5dBi)<br>Price: Rs.2,399.00</p>
        <a href="#" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/i11.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>WIFI RECIEVER</b></h5>
        <p class="card-text"> (Portable Mini Travel Router (TL-WR902AC))<br>Price: Rs.2,199.00</p>
        <a href="#" class="btn btn-primary">Buy now</a>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/i12.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>FLOPPY DISK</b></h5>
        <p class="card-text"> (MEMORY OF 128GB EXPANDABLE)<br>Price: Rs.39,999.00</p>
        <a href="#" class="btn btn-primary">Buy now</a>
    </div>
    </div>
</div>
{% endblock  %}