{% extends "design/responsivebase.html" %}

{% block content %}
    <div class="jumbotron">
        <div class="container text-center">
            <h1 class="display-3">DINESH Private Limited</h1>
            <h5 class="display-6">crew people</h5>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <h5 class="display-6">Our Crew People</h5>
        </div>
    </div>
    <div class="row text-center">
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/neymar.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">NEYMAR</h5>
                <p class="card-text">President of a company</p>
                <a href="https://en.wikipedia.org/wiki/Neymar" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/dhoni.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">M.S.DHONI</h5>
                <p class="card-text">Cheif Executive Officer of a company</p>
                <a href="https://en.wikipedia.org/wiki/MS_Dhoni" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/ronaldo.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">RONALDO</h5>
                <p class="card-text">Cheif Operating Officer of a company</p>
                <a href="https://en.wikipedia.org/wiki/Cristiano_Ronaldo" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/rahul.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">RAHUL</h5>
                <p class="card-text">Cheif Financial Officer of a company</p>
                <a href="https://en.wikipedia.org/wiki/KL_Rahul" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/messi.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">MESSI</h5>
                <p class="card-text">Cheif Legal Officer of a company</p>
                <a href="https://en.wikipedia.org/wiki/Lionel_Messi" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/hardik.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">HARDIK PANDYA</h5>
                <p class="card-text">Cheif Marketing Officerof a company</p>
                <a href="https://en.wikipedia.org/wiki/Hardik_Pandya" class="btn btn-primary">More Details</a>
            </div>
        </div>
    </div>
 {% endblock  %}